
.mini-stats-card {
  background: #ffffff;
  border-radius: 12px;
  font-family: 'Inter', sans-serif;
  padding: 1rem;
  color: #000000;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;

  h3 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 1.2rem;
    color: #333;
  }

  .stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
  }

  .stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, #1e3c72, #2a5298);
    padding: 1.2rem;
    border-radius: 12px;
    transition: transform 0.3s ease, background 0.3s ease;
    cursor: pointer;

    &:hover {
      transform: translateY(-5px);
      background: #3a3b4f;
    }

    .stat-icon {
      font-size: 1.2rem;
      margin-bottom: 0px;
    }

    .stat-info {
      text-align: center;

      h5 {
        font-size: 1.5rem;
        margin: 0;
        color: #ffd700;
      }

      p {
        font-size: 0.9rem;
        color: #bbb;
        margin: 0;
      }
    }
  }

  /* Custom color for icons */
  .stat-icon i.fa-bullhorn {
    color: #ffd700;
  }

  .stat-icon i.fa-trophy {
    color: #ffd700;
  }

  .stat-icon i.fa-comment-dots {
    color: #ffd700;
  }

  /* Add My Rank Stat Box */
  .stat-item.my-rank {
    color: #f1c40f;  /* Adjust the background color */
    
    .stat-icon i.fa-crown {
      color: #f1c40f; /* Gold crown for rank */
    }

    .stat-info h5 {
      color: #f1c40f; /* Gold color for rank text */
    }

    .stat-info p {
      color: #ccc; /* Lighter color for additional info */
    }
  }
}
